---
layout: default
---

<!-- about.html -->
    <section class="home-hero">
      <div class="hero_title">
        <h1>Pushing the Boundaries</h1>
        <h2>Advancing AI for a Peaceful and Humane Future</h2>
      </div>
      <p>
        We strive to create AI that not only grasps human intentions and the physical world but does so in alignment with human values. Our work prioritizes robustness, trustworthiness, and ethical AI development, ensuring these technologies foster a more peaceful and humane future.
      </p>
    </section>

      <div class="post">
        <header class="post-header">
          {%- comment -%}
          <h1 class="post-title">
            <b>
            {% if site.title == "blank" -%}<span class="font-weight-bold"> <b>{{ site.first_name }}</b></span> <b>{{ site.middle_name }} {{ site.last_name }}</b>{%- else -%}{{ site.title }}{%- endif %}
            </b>
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
          {%- endcomment -%}
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
              {{ page.profile.more_info }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% include carousel.html height="50" unit="%" duration="7" number="1" %}
          
          <!-- Home feature cards -->
          {% include home_features_cards.html %}

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2 class="news-section-title"><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
            {%- include news.html limit=true homepage=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>
        
</div>
